<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventoryManagementSystem</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetCoreRepositoryPatternTemplate.styles.css" asp-append-version="true" />
    <!------------------------------------------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <!------------------------------------------------------------------------------------------------------------------------------->
</head>

<body>
    <header>
        <div id="sidebar">
            <div class="sidebar-header">
                <h3 class="p-2 text-white"><img src="~/Img/logo.png" class="img-fluid" /></h3>
            </div>
            <ul class="list-unstyled component m-0">
                <li class="">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="dashboard"><i class="material-icons">dashboard</i>Dashboard </a>
                </li>

                <li class="">
                    <a asp-area="" asp-controller="Products" asp-action="Index">
                        <i class="material-icons">shopping_cart</i>Products
                    </a>
                </li>


            </ul>
        </div>
    </header>

    <div class="wrapper">
        <div id="content">

            <div class="top-navbar">
                <div class="xd-topbar">
                    <div class="row">
                        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                            <div class="xp-menubar">
                                <span class="material-icons text-white">signal_cellular_alt</span>
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-3 order-3 order-md-2">
                            <div class="xp-searchbar">
                                <form>
                                    <div class="input-group">
                                        <input type="search" class="form-control"
                                               placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit" id="button-addon2">
                                                Go
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                            <div class="xp-profilebar text-right">
                                <nav class="navbar p-0">
                                    <ul class="nav navbar-nav flex-row ml-auto">
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>


                </div>
            </div>


            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="footer-in">
                        <p class="mb-0"> &copy; 2024 - InventoryManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
                    </div>
                </div>
            </footer>

        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="~/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".xp-menubar").on('click', function () {
                $("#sidebar").toggleClass('active');
                $("#content").toggleClass('active');
            });

            $('.xp-menubar,.body-overlay').on('click', function () {
                $("#sidebar,.body-overlay").toggleClass('show-nav');
            });

        });

        document.addEventListener("DOMContentLoaded", function () {
            const sidebarLinks = document.querySelectorAll("#sidebar ul li a");

            // Get the current page's URL
            const currentPage = window.location.pathname;

            sidebarLinks.forEach(function (link) {
                // Check if the current page matches the href of the link
                if (link.getAttribute('href') === currentPage) {
                    link.parentElement.classList.add("active");
                }

                link.addEventListener("click", function () {
                    // Remove the active class from all sidebar items
                    sidebarLinks.forEach(function (item) {
                        item.parentElement.classList.remove("active");
                    });

                    // Add the active class to the clicked sidebar item
                    this.parentElement.classList.add("active");
                });
            });
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
