@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to the Inventory Management System!</h1>
        <p class="lead">A simple and efficient solution to track and manage stock for your business.</p>
        <hr class="my-4">
        <p>Stay on top of your inventory, monitor stock levels, and prevent stock loss. With real-time updates, tracking products has never been easier!</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Products")" role="button">Manage Products</a>
    </div>
</div>